@charset "UTF-8";
@font-face {
  font-family: 'Montserrat light';
  src: url("./src/fonts/Montserrat/Montserrat-light.ttf");
}

@font-face {
  font-family: 'Montserrat thin';
  src: url("./src/fonts/Montserrat/Montserrat-thin.ttf");
}

@font-face {
  font-family: 'Open Sans Condensed light';
  src: url("./src/fonts/Open_Sans_Condensed/OpenSansCondensed-Light.ttf");
}

@font-face {
  font-family: 'Montserrat bold';
  src: url("./src/fonts/Montserrat/Montserrat-bold.ttf");
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

*::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/**
* --------------------- 头部导航区域 -------------
**/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

header .container-box {
  padding: 30px 0;
}

header svg {
  width: 207px;
  height: 54px;
}

header .logo {
  float: left;
}

header nav {
  float: right;
}

header nav a {
  line-height: 54px;
  font-family: 'Montserrat light';
  color: #333;
  font-size: 1.2rem;
  margin-left: 30px;
}

header nav a.selected.selected {
  text-decoration: underline;
}

header nav a:hover {
  text-decoration: line-through;
}

header .hamburger {
  display: none;
  float: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 54px;
}

header .hamburger div {
  background-color: #333;
  height: 2px;
  width: 24px;
}

header .hamburger div::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  -webkit-transition: -webkit-transform linear 0.2s;
  transition: -webkit-transform linear 0.2s;
  transition: transform linear 0.2s;
  transition: transform linear 0.2s, -webkit-transform linear 0.2s;
}

header .hamburger div::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: -webkit-transform linear 0.2s;
  transition: -webkit-transform linear 0.2s;
  transition: transform linear 0.2s;
  transition: transform linear 0.2s, -webkit-transform linear 0.2s;
}

.container-box {
  max-width: 1280px;
  margin: 0 auto;
}

/**
* --------------------- 核心作品区域 -------------
**/
.projects-box {
  margin-top: 120px;
}

.projects-box .project {
  margin-bottom: 2px;
  background-color: #f8f8fa;
}

.projects-box .item1 .project-info, .projects-box .item3 .project-info, .projects-box .item5 .project-info {
  float: left;
  width: 46%;
}

.projects-box .item1 .project-img, .projects-box .item3 .project-img, .projects-box .item5 .project-img {
  float: right;
  width: 50%;
}

.projects-box .item2 .project-info, .projects-box .item4 .project-info {
  float: right;
  width: 46%;
}

.projects-box .item2 .project-img, .projects-box .item4 .project-img {
  float: left;
  width: 50%;
}

.projects-box .container-box {
  overflow: hidden;
}

.projects-box .container-box .project-info {
  padding-top: 100px;
}

.projects-box .container-box .project-info .title {
  font-family: 'Montserrat bold';
  color: #333;
  font-size: 2rem;
}

.projects-box .container-box .project-info .detail {
  font-family: 'Montserrat light';
  color: #333;
  font-size: 1.2rem;
  width: 80%;
  padding-top: 10px;
}

.projects-box .container-box .project-info .button-to-case {
  font-family: 'Montserrat light';
  color: #333;
  font-size: 1rem;
  border: 1px solid #333;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 2px;
  -webkit-transition: background-color .3s linear, color .3s linear;
  transition: background-color .3s linear, color .3s linear;
  margin-top: 40px;
}

.projects-box .container-box .project-info .button-to-case:hover {
  background-color: #333;
  color: white;
}

.projects-box .container-box .project-info .role {
  display: block;
  margin-top: 80px;
  font-family: 'Montserrat light';
  font-size: 0.9rem;
  opacity: 0.4;
}

.projects-box .container-box .project-img {
  width: 50%;
  font-size: 0;
}

.projects-box .container-box .project-img img {
  width: 100%;
}

/**
* --------------------- 尾部区域 -----------------
**/
.bottom {
  background-color: #f9e4e1;
  text-align: center;
}

.bottom .container-box {
  padding: 100px 0;
}

.bottom .container-box p {
  font-family: 'Montserrat light';
  color: #333;
  font-size: 1.2rem;
  font-size: 2rem;
  width: 60%;
  margin: 0 auto;
}

.bottom .container-box a {
  margin-top: 30px;
  font-family: 'Montserrat light';
  color: #333;
  font-size: 1rem;
  border: 1px solid #333;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 2px;
  -webkit-transition: background-color .3s linear, color .3s linear;
  transition: background-color .3s linear, color .3s linear;
}

.bottom .container-box a:hover {
  background-color: #333;
  color: white;
}

/**
* --------------------- 尾部区域 -----------------
**/
#target-top {
  height: 1px;
}

.go-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  -webkit-transition: -webkit-transform .3s linear;
  transition: -webkit-transform .3s linear;
  transition: transform .3s linear;
  transition: transform .3s linear, -webkit-transform .3s linear;
}

.go-to-top:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/**
* --------------------- 响应式设置 -----------------
**/
@media screen and (max-width: 1413px) {
  .container-box {
    padding: 0 10%;
    margin: 0 auto;
  }
  header .container-box {
    padding-left: 10%;
    padding-right: 10%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1040px) {
  nav a {
    display: none;
  }
  .container-box .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hamburger:hover div::before {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
  }
  .hamburger:hover div::after {
    -webkit-transform: translateY(-14px);
            transform: translateY(-14px);
  }
  .project-img {
    margin-top: 12%;
  }
}

@media screen and (max-width: 768px) {
  .projects-box .item1 .project-info, .projects-box .item3 .project-info, .projects-box .item5 .project-info {
    float: none;
    display: block;
    width: 100%;
  }
  .projects-box .item1 .project-info .detail, .projects-box .item3 .project-info .detail, .projects-box .item5 .project-info .detail {
    width: 100%;
  }
  .projects-box .item1 .project-img, .projects-box .item3 .project-img, .projects-box .item5 .project-img {
    display: block;
    float: none;
    width: 100%;
  }
  .projects-box .item2 .project-info, .projects-box .item4 .project-info {
    float: none;
    width: 100%;
  }
  .projects-box .item2 .project-info .detail, .projects-box .item4 .project-info .detail {
    width: 100%;
  }
  .projects-box .item2 .project-img, .projects-box .item4 .project-img {
    float: left;
    width: 100%;
  }
}
/*# sourceMappingURL=work.css.map */